<template>
  <section id="features">
    <div class="container flex flex-col px-4 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row">
      <div class="flex flex-col space-y-12 md:w-1/2">
        <h2 class="max-w-md text-4xl font-bold text-center md:text-left">{{title}}</h2>
        <p class="max-w-sm text-center text-darkGrayishBlue md:text-left">
          {{paragraph}}
        </p>
      </div>
      <div class="flex flex-col space-y-8 md:w-1/2">
        <numbers-features
          number="1"
          heading="Track company-wide progress"
          content=" See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way down to the smallest of details. Never lose sight of the bigger picture again."
        >
        </numbers-features>
        <numbers-features
          number="2"
          heading="Advanced built-in reports"
          content=" Set internal delivery estimates and track progress toward company goals. Our customisable dashboard helps you build out the reports you need to keep key stakeholders informed."
        >
        </numbers-features>
        <numbers-features
          number="2"
          heading="Everything you need in one place"
          content="Stop jumping from one service to another to communicate, store files, track tasks and share documents. Manage offers an all-in-one team productivity solution."
        >
        </numbers-features>
      </div>
    </div>

  </section>

</template>

<script>
  export default {
    props: ['title', 'paragraph']
  }
</script>