<template>
  <section id="hero">
    <div class="container flex flex-col-reverse md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0">
      <div class=" flex flex-col mb-32 space-y-12 md:w-1/2">
        <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left" >
          {{ title }}
        </h1>
        <p class="max-w-sm text-center text-darkGrayishBlue">
          {{ paragraph }}
        </p>
        <div class="flex justify-center md:justify-start">
          <main-button title="Get Started" class="!block"></main-button>
        </div>
      </div>
      <div class="md:w-1/2">
        <img src="@/assets/img/illustration-intro.svg" alt="illustration-intro.svg" />
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    props: ['title', 'paragraph']
  }

</script>