<template>
  <router-link to="/" class=" hidden md:block p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight" > {{ title }} </router-link>
</template>

<script>
  export default {
    props: ['title']
  }

</script>