<template>
  <div class="mb-12 flex flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:mb-0 md:w-1/3">
    <img src="@/assets/img/avatar-anisha.png" class="w-16 -mt-14" alt="" />
    <h5 class="text-lg font-bold">{{userheading}}</h5>
    <p class="text-sm text-darkGrayishBlue">
      {{userparagraph}}
    </p>
  </div>


</template>

<script>
export default {
  props:['userheading', 'userparagraph']

}
</script>