<template>
  <footer class="bg-veryDarkBlue">
    <div class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0">
      <div class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start">
        <div class="mx-auto my-6 text-center text-white md:hidden"> Copyright &copy; 2022, All Rights Reserved</div>
        <div>
          <img src="@/assets/img/logo-white.svg" class="h-8" alt="" />
        </div>
        <div class="flex justify-center space-x-4">
          <router-link to='/'>
            <img src="@/assets/img/icon-facebook.svg" alt="" class="h-8" />
          </router-link>
          <router-link to='/'>
            <img src="@/assets/img/icon-youtube.svg" alt="" class="h-8" />
          </router-link>
          <router-link to='/'>
            <img src="@/assets/img/icon-twitter.svg" alt="" class="h-8" />
          </router-link>
          <router-link to='/'>
            <img src="@/assets/img/icon-pinterest.svg" alt="" class="h-8" />
          </router-link>
          <router-link to='/'>
            <img src="@/assets/img/icon-instagram.svg" alt="" class="h-8" />
          </router-link>
        </div>
      </div>
      <div class="flex justify-around space-x-32">
        <div class="flex flex-col space-y-3 text-white">
          <router-link to='/' class="hover:text-brightRed">Home</router-link>
          <router-link to='/' class="hover:text-brightRed">Pricing</router-link>
          <router-link to='/' class="hover:text-brightRed">Products</router-link>
          <router-link to='/' class="hover:text-brightRed">About</router-link>
        </div>
        <div class="flex flex-col space-y-3 text-white">
          <router-link to='/' class="hover:text-brightRed">Careers</router-link>
          <router-link to='/' class="hover:text-brightRed">Community</router-link>
          <router-link to='/' class="hover:text-brightRed">Privacy Policy</router-link>
        </div>
      </div>
      <div class="flex flex-col justify-between">
        <form>
          <div class="flex space-x-3">
            <input type="text" class="flex-1 px-4 rounded-full focus:outline-none" placeholder="Updated in your inbox" />
            <button class="px-6 py-2 text-white rounded-full bg-brightRed hover:bg-brightRedLight focus:outline-none" > Go </button>
          </div>
        </form>
        <div class="hidden text-white md:block"> Copyright &copy; 2022, All Rights Reserved </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {

  }
</script>