<template>
  <features-template 
                    title="What's different about Manage?"
                    paragraph="Manage provides all the functionality your team needs, without the
                              complexity. Our software is tailor-made for modern digital product teams."
  >
  </features-template>
</template>

<script>

</script>