<template>
  <hero-template
    title="Bring everyone together to build better products"
    paragraph="Manage makes it simple for software teams to plan day-to-day tasks
              while keeping the larger team goals in view."
  >
  </hero-template>
</template>

<script>
  export default {

  }
</script>