<template>
  <nav class="relative container mx-auto p-6">
    <div class="flex items-center justify-between">
      <div class="pt-2">
        <img src="@/assets/img/logo.svg" />
      </div>
      <div class="hidden space-x-6 md:flex">
        <a href="#" class="hover:text-darkGrayishBlue">Pricing</a>
        <a href="#" class="hover:text-darkGrayishBlue">Product</a>
        <a href="#" class="hover:text-darkGrayishBlue">About Us</a>
        <a href="#" class="hover:text-darkGrayishBlue">Careers</a>
        <a href="#" class="hover:text-darkGrayishBlue">Community</a>
      </div>
      <main-button title="Get Started"></main-button>
    </div>
  </nav>
</template>

<script>


export default {

}

</script>