<template>
    <!-- Testimonials -->
  <section id="testimonials">
    <div class="max-w-6xl px-5 mx-auto mt-32 text-center">
      <h2 class="text-4xl font-bold text-center">What's Different About Manage?</h2>
      <div class="flex flex-col mt-24 md:flex-row md:space-x-6">
        <users-template
          userheading="Anisha Li"
          userparagraph="Manage has supercharged our team's workflow. The ability to
                      maintain visibility on larger milestones at all times keeps
                      everyone motivated."
        >
        </users-template>
        <users-template
          userheading="Anisha Li"
          userparagraph="Manage has supercharged our team's workflow. The ability to
                      maintain visibility on larger milestones at all times keeps
                      everyone motivated."
        >
        </users-template>
        <users-template
          userheading="Anisha Li"
          userparagraph="Manage has supercharged our team's workflow. The ability to
                      maintain visibility on larger milestones at all times keeps
                      everyone motivated."
        >
        </users-template>
      </div>
      <div class="my-4 md:my-12">
        <router-link to="/" class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight"> Get Started </router-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {

}
</script>