<template>
  <the-menu></the-menu>
  <the-hero></the-hero>
  <the-features></the-features>
  <the-testimonials></the-testimonials>
  <the-cta></the-cta>
  <the-footer></the-footer>
  <router-view/>
</template>

<script>

  import TheFooter from '@/components/TheFooter.vue'

  export default {
  components: {
    TheFooter
  }
  }
</script>

<style>

</style>
